1. What exactly is []?

[]- it is a list which contains zero elements.

In [3]:
n=[] # n is a list with zero element
k=[1,2,3,4]
for i in k:
  n.append(i+1)
n

[2, 3, 4, 5]

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam=[2, 4, 6, 8, 10]
spam[2]="hello" #assigm a value to second index of spam
spam

[2, 4, 'hello', 8, 10]

In [ ]:
## Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [5]:
spam=['a', 'b', 'c', 'd']

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [6]:
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[-1]?

'd"

In [7]:
spam[-1]

'd'

5. What is the value of spam[:2]?

['a', 'b']

In [8]:
spam[:2] # spam[0:2:1] its is same as spam[:2]

['a', 'b']

In [11]:
spam[0:2:1]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [69]:
bacon = [3.14, 'cat', 11, 'cat', True]

6. What is the value of bacon.index('cat')?

1

In [13]:
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?


bacon.append(99)- add a element  99 at end of the list bacon

value in bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [68]:
 bacon.append(99)
 bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

after bacon.remove('cat') - remove the "cat" elements  that comes first in the list

bacon

[3.14, 11, True, 99]

In [70]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

The operator for list concatenation is +, while the operator for replication is *.

In [20]:
l=[1,2,3]
l1=[4,5,6]
l2=l1+l
l2

[4, 5, 6, 1, 2, 3]

In [22]:
l3=l2*2
l3

[4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3]

10. What is difference between the list methods append() and insert()?

list method append()  allows us to add the element  in the end of the list

insert()- insert function allows us to add a specific element at a specified index of the list

In [24]:
l=[1,2,3]
l1=[4,5,6]
l.append(l1)
l

[1, 2, 3, [4, 5, 6]]

In [26]:
l=[1,2,3]
l1=[4,5,6]
l.insert(1, l1)
l

[1, [4, 5, 6], 2, 3]

11. What are the two methods for removing items from a list?

The methods are 

remove()-	It helps to remove the very first given element matching from the list.

pop()	method- removes an element from the list based on the given index.

clear() method- will remove all the elements present in the list.

In [28]:
l=[1,2,3,3,3]
l.remove(3) #permanent change
l

[1, 2, 3, 3]

In [29]:
l=[1,2,3,2,5]
l.pop(2)
l

[1, 2, 2, 5]

In [30]:
l=[1,2,3]
l.clear()
l

[]

In [31]:
l=[1,2,3]
del l[0]
l

[2, 3]

12. Describe how list values and string values are identical.

we can do slicing , concatenation and index operation in list and string

13. What's the difference between tuples and lists?

Main difference mutability

list are mutable they can have values added, removed, or changed.while lists use the square brackets, [ ].

Tuples are immutable they cannot be changed at all. Also, tuples are written using parentheses, (),

14. How do you type a tuple value that only contains the integer 42?

In [32]:
t=(42)
t

42

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [34]:
l=[1,2,3]
tupleform=tuple(l)
tupleform

(1, 2, 3)

In [33]:
t=(1,2)
listform= list(t)
listform

[1, 2]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contain references to a specific list values

In [39]:
k=[1,2,3,4]
t=(1,2,k[1:2],3)
t  #t contain references to list values of list k

(1, 2, [2], 3)

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Main difference is that that both have the same value but have different IDs.

**copy.copy(x)**

Return a shallow copy of x.

A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.  **ids is different to original**

**copy.deepcopy(x)**
Return a deep copy of x.

A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original. **id is same as origional**

the difference between shallow and deep copying is only relevant for compound objects (objects that contain other objects, like lists or class instances):

In [58]:
import copy
lst=[1,2,3,4,5]
b=copy.copy(lst) 
a=copy.deepcopy(lst)

In [54]:
print(b)
print(lst)
print(id(b), id(lst))
lst is b ##See here id of b and id of lst is not same so its called shallow copy and even boolean answer is false although output looks same.

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
140118158924448 140118159500304

False

In [55]:
lst=[1,2,3,4,5]
a=lst
print(lst)
print(a)
print(id(a), id(lst))
lst is a #See here id of a and id of lst is same so its called deep copy and even boolean answer is true

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
140118158947664 140118158947664

True