1. What are escape characters, and how do you use them? 

To insert characters that are illegal in a string, use an escape character.

```
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value
```

In [81]:
# \\    Backslash   
t = "my nameis suman.\\ from nellore."
print(t)

my nameis suman.\ from nellore.

In [82]:
# \ n   new line  
t = "suman \n2\\6,\nallur village\nnellore."
print(t)

suman
2\6,
allur village
nellore.

In [83]:
# \'    Single Quote 
k= "it\'s agorilla"
print(k)

it's agorilla

In [84]:
#\n    New Line   
print("my name is suman \niam from nellore")

my name is suman
iam from nellore

In [85]:
# \r    Carriage Return  
print('Python is included in CodeSpeedy\r123456')

123456

In [86]:
print(" my name is suman.\tiam from nellore") #\t    Tab

 my name is suman.	iam from nellore

2. What do the escape characters n and t stand for?

\n is New Line    
\t is	Tab    provie space

In [ ]:
#\n    New Line   
print("my name is suman \niam from nellore")
print(" ")
print("my name is suman.\tiam from nellore") #\t    Tab

my name is suman
iam from nellore

my name is suman.	iam from nellore

In [ ]:
# \ n   new line  
t = "suman \n2\\6,\nallur village\nnellore."
print(t)

suman
2\6,
allur village
nellore.

3. What is the way to include backslash characters in a string?

In [ ]:
# \\    Backslash   
t = "my nameis suman.\\ from nellore."
print(t)

my nameis suman.\ from nellore.

4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

Form the beging to end we used double quotes for the word "Howl's Moving Castle"  so if there a single quote with in the double quote there is no problem.

In [75]:
print("Howl's Moving Castle")

Howl's Moving Castle

error ocuur 

when  there a single quote with in the single quote.   
                         or    
 there a double quote with in the double quote .

In [74]:
print('Howl's Moving Castle')   # single quote with in the single quote

SyntaxError: ignored

In [87]:
print("Howl's "Moving" Castle") # there a double quote with in the double quote .

SyntaxError: ignored

best solution is three quotes

In [77]:
print("""Howl's Moving Castle""")

Howl's Moving Castle

In [78]:
print("""Howl's "Moving" Castle""")

Howl's "Moving" Castle

5. How do you write a string of newlines if you don't want to use the n character?

we can three quotes for new line without using \n escape operater.

In [93]:
print("""my name is suman
iam from nellore
524315""")

my name is suman
iam from nellore
524315

6. What are the values of the given expressions?  
```
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]
```

In [94]:
'Hello, world!'[1]

'e'

In [ ]:
'Hello, world!'[0:5]

'Hello'

In [ ]:
'Hello, world!'[:5]

'Hello'

In [ ]:
'Hello, world!'[3:]

'lo, world!'

7. What are the values of the following expressions?


```
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()

```

In [ ]:
'Hello'.upper()

'HELLO'

In [ ]:
'Hello'.upper().isupper()

True

In [ ]:
'Hello'.upper().lower()

'hello'

In [51]:
'Hello'.upper().lower().upper()

'HELLO'

8. What are the values of the following expressions?
```
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())
```

In [52]:
# The split() method splits a string into a list.
# You can specify the separator, default separator is any whitespace.
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [53]:
# The join() method takes all items in an iterable and joins them into one string.
# A string must be specified as the separator.
'-'.join('There can only one.'.split())

'There-can-only-one.'

In [ ]:
' '.join('There can only one.'.split())

'There can only one.'

In [ ]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

9. What are the methods for right-justifying, left-justifying, and centering a string?

**rjust()**  method will right align the string, using a specified character (space is default) as the fill character.

In [60]:
t= "suman"
x = t.rjust(20, "*")
print(x)

***************suman

The ljust() method will left align the string, using a specified character (space is default) as the fill character.

In [63]:
t= "suman"
x = t.ljust(20, "*")
print(x)

suman***************

In [69]:
y=t.ljust(40,"e")
y

'sumaneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'

The center() method will center align the string, using a specified character (space is default) as the fill character.

In [68]:
t= "suman"
x = t.center(20, "*")
print(x)

*******suman********

10. What is the best way to remove whitespace characters from the start or end?

.strip() -remove whitespace characters from the start and at the end.   
.lstrip() -remove whitespace characters from the start.

.rstrip() -remove whitespace characters from the end.

In [54]:
k= "          my name is suman         "
k.strip()

'my name is suman'

In [55]:
k= "          my name is suman         "
k.lstrip()

'my name is suman         '

In [56]:
k.rstrip()

'          my name is suman'