Question 1

Create a function that takes a number as an argument and returns True or False depending

on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

is_symmetrical =

In [53]:
def is_symmetrical(a):
  k= str(a)
  if k ==k[::-1]:
    return True
  else :
    return False

In [54]:
is_symmetrical(7227)

True

In [55]:
is_symmetrical(12567)

False

In [56]:
is_symmetrical(44444444)

True

In [57]:
is_symmetrical(9939)

False

In [58]:
is_symmetrical(1112111)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [107]:
def multiply_nums(a):
  a=a.split(", ")
  len(a)
  k=1
  for i in a:
    k=k*int(i)
  return k

In [108]:
multiply_nums("2, 3")

6

In [109]:
multiply_nums("1, 2, 3, 4")

24

In [110]:
multiply_nums("54, 75, 453, 0")

0

In [111]:
multiply_nums("10, -2")

-20

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes
The function receives an integer and must return an integer.

In [119]:
def square_digits(a):
  k=''
  for i in str(a):
    k=k+str((int(i))**2)
  return int(k)

In [120]:
square_digits(9119)

811181

In [121]:
square_digits(2483)

416649

In [122]:
square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [127]:
def setify(a):
  a=sorted(list(set(a)))
  return a

In [128]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [129]:
setify([4, 4, 4, 4])

[4]

In [130]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [131]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [6]:
def mean(a):
  k=0
  for i in str(a):
    k=k+int(i)
    n=k/(len(str(a)))
  return n

In [7]:
mean(42)

3.0

In [8]:
mean(12345)

3.0

In [9]:
mean(666)

6.0

In [21]:
def mean2(a):
  m=list(str(a))
  k= sum(int(i) for i in m)
  q=k/len(str(a))
  return q

In [22]:
mean2(42)

3.0

In [23]:
mean2(666)

6.0