1.Create a function that takes an integer and returns a list from 1 to the given number, where:

a). If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).

b). If the number cannot be divided evenly by 4, simply return the number.

Examples:

amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

Notes:

1.The given integer will always be equal to or greater than 1.

2.Include the number (see example above).

3.To perform this problem with its intended purpose, try doing it with list

In [1]:
def amplify(a):
  k=[]
  for i in range(1,a+1):
    if i%4==0:
      k.append(i*10)
    else: 
      k.append(i)
  return k

In [2]:
amplify(4)

[1, 2, 3, 40]

In [4]:
amplify(3)

[1, 2, 3]

In [5]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

Question2

Create a function that takes a list of numbers and return the number that's unique.

Examples

unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0
Notes

Test cases will always have exactly one unique number while all others are the same.

In [7]:
def unique(a):
    b = ''
    for i in set(a):
        if a.count(i) == 1:
            b = i
    print(f'{a} unique element is {b}')

In [8]:
unique([3, 3, 3, 7, 3, 3])

[3, 3, 3, 7, 3, 3] unique element is 7

In [9]:
unique([0, 0, 0.77, 0, 0])

[0, 0, 0.77, 0, 0] unique element is 0.77

In [10]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

[0, 1, 1, 1, 1, 1, 1, 1] unique element is 0

3. Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference). For help with this class, I have provided you with a Rectangle constructor which you can use as a base example ?

Examples:

circy = Circle(11)

circy.getArea()
# Should return 380.132711084365
circy = Circle(4.44)

circy.getPerimeter()
# Should return 27.897342763877365

Notes:
Round results up to the nearest integer.

In [12]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius
    def getArea(self):
        print(f'Radius is {round(math.pi*self.radius*self.radius)}')
    def getPerimeter(self):
        print(f'Perimeter is {round(2*math.pi*self.radius)}')
    
circy = Circle(11)
circy.getArea()

circy = Circle(4.44)
circy.getPerimeter()

Radius is 380
Perimeter is 28

Question4

Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples

sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]

sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]

sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

Notes

All test cases contain lists with strings of different lengths, so you won&#39;t have to deal with
multiple strings of the same length.

In [13]:
def sort_by_length(a):
    print(sorted(a,key=len))
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [14]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [15]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

Question5

Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.

Examples

is_triplet(3, 4, 5) ➞ True
# 3² + 4² = 25
# 5² = 25
is_triplet(13, 5, 12) ➞ True
# 5² + 12² = 169
# 13² = 169
is_triplet(1, 2, 3) ➞ False
# 1² + 2² = 5
# 3² = 9
Notes

Numbers may not be given in a sorted order.

In [16]:
def is_triplet(a,b,c):
    if ((a**2+b**2) == (c**2)):
        print(f'{a,b,c} is {True}')
    else:
        print(f'{a,b,c} is {False}')
        
is_triplet(3, 4, 5)
is_triplet(3, 4, 5)
is_triplet(1, 2, 3)

(3, 4, 5) is True
(3, 4, 5) is True
(1, 2, 3) is False