1. Write a Python program to convert kilometers to miles?

In [4]:
kilometer=float(input( "enter no of kilometer: " ))
miles =0.62137119 *kilometer
print(kilometer,  "km is equl to", miles,"miles")

enter no of kilometer: 11.9
11.9 km is equl to 7.394317161 miles

2. Write a Python program to convert Celsius to Fahrenheit?

In [10]:
Celsius=float(input( "enter temperature in Celsius: " ))
Fahrenheit=32+1.8*Celsius
print("temperature in Fahrenheit", Fahrenheit)
print(f"{Celsius} degree Celsius is equal to {Fahrenheit} degree Fahrenheit ")

enter temperature in Celsius: 36.1
temperature in Fahrenheit 96.98
36.1 degree Celsius is equal to 96.98 degree Fahrenheit

3. Write a Python program to display calendar?

In [6]:
import calendar
year = int(input("Enter the year: "))
month = int(input("Enter the month: "))
print(calendar.month(year,month))
print(calendar.calendar(year))

Enter the year: 2022
Enter the month: 10
    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

4. Write a Python program to solve quadratic equation?

Quadratic equation will be ax**2+bx+c=0   
and there solution will be     
x=(-b Â± (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

In [8]:
import cmath
a= float(input("enter a: "))
b=float(input("enter b: "))
c= float(input("enter c: "))
d=(b**2) - (4*a*c)
root1=(-b+cmath.sqrt(d))/(2*a)
root2=(-b-cmath.sqrt(d))/(2*a)
print(" solution1",root1)
print(" solution2",root2)

enter a: 1
enter b: 5
enter c: 6
 solution1 (-2+0j)
 solution2 (-3+0j)

In [3]:
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print(sol1,sol2)

(-3+0j) (-2+0j)

5. Write a Python program to generate a random number?

In [1]:
x=int(input(" before swapping value of x: "))
y=int(input( " before swapping value of y: "))
x,y=y,x
print("after swapping value of x: ", x)
print("after swapping value of y: ", y)

 before swapping value of x: 10
 before swapping value of y: 13
after swapping value of x:  13
after swapping value of y:  10