1. Write a Python program to Extract Unique values dictionary values?

In [26]:
def extractuniquevalues(k):
  m=list()
  for i in k.values():
    m=m+(i)
  l=list(set(m))
  return l

In [27]:
k={

'A' : [1, 3, 5, 4], 'B' : [4, 6, 8, 10], 'C' : [6, 12, 4 ,8], 'D' : [5, 7, 2]

}

In [28]:
extractuniquevalues(k)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 12]

2. Write a Python program to find the sum of all items in a dictionary?

In [48]:
def sumofallitemsdictionary(a):
  m=[i for i in a.values() if type(i)==int]
  l= sum(m)
  return l

In [49]:
sumofallitemsdictionary({'k1 ': 120, 'k2' : 20, 'k3' : 300})

440

3. Write a Python program to Merging two Dictionaries?

In [50]:
def mergedictionaries(a,b):
  k={ **a, **b}
  return k

In [51]:
a = {"apple": 2, "orange" : 3, "tangerine": 5}
b= {"cashew": 3, "almond": 4, "pistachio": 6}

In [40]:
mergedictionaries(a,b)

{'apple': 2,
 'orange': 3,
 'tangerine': 5,
 'cashew': 3,
 'almond': 4,
 'pistachio': 6}

4. Write a Python program to convert key-values list to flat dictionary?

In [45]:
dic= { "day": [1, 2, 3], "name": ['Mon', 'Tues', 'Wed' ] }
print("Original dic: ",dic)
flatdic= dict(zip(dic["day"], dic["name"]))
print("flat dic : ", flatdic)

Original dic:  {'day': [1, 2, 3], 'name': ['Mon', 'Tues', 'Wed']}
flat dic :  {1: 'Mon', 2: 'Tues', 3: 'Wed'}

5. Write a Python program to insertion at the beginning in OrderedDict?

In [46]:
from collections import OrderedDict  
dic1 = OrderedDict([('A', '100'), ('B', '200'), ('C', '300')])
dic1.update({"D": '400'})
dic1.move_to_end("D", last=False)
print ("Resultant Dictionary :", dic1)

Resultant Dictionary :
OrderedDict([('D', '400'), ('A', '100'), ('B', '200'), ('C', '300')])

6. Write a Python program to check order of character in string using OrderedDict()?

In [47]:
from collections import OrderedDict
initial_list = {'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
final_list = OrderedDict(dict(sorted(initial_list.items())))
print(final_list)

OrderedDict([('a', 1000), ('b', 500), ('c', 400), ('d', 300), ('e', 600), ('f', 200)])

7. Write a Python program to sort Python Dictionaries by Key or Value?

In [52]:
d_items = {'Mango':100,'PineApple':22,'Banana':60,'Grape':13}
def sort_dict(in_dict,sort_type):
    if sort_type == 'key':
        print(dict(sorted(in_dict.items(), key=lambda x:x[0], reverse=False)))
    else:
        print(dict(sorted(in_dict.items(), key=lambda x:x[1], reverse=False)))
sort_dict(d_items,'key')        
sort_dict(d_items,'value')

{'Banana': 60, 'Grape': 13, 'Mango': 100, 'PineApple': 22}
{'Grape': 13, 'PineApple': 22, 'Banana': 60, 'Mango': 100}