**Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive**.

Examples

evenly_divisible(1, 10, 20) ➞ 0
### No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [1]:
def evenly_divisible(a,b,c):
  d= [ i for i in range(a, b+1) if i%c==0]
  m=sum(d)
  return m

In [4]:
evenly_divisible(1, 10, 20)

0

In [2]:
evenly_divisible(1, 10, 2)

30

In [3]:
evenly_divisible(1, 10, 3)

18

**Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.**

Examples

correct_signs(&quot;3 &lt; 7 &lt; 11&quot;) ➞ True

correct_signs(&quot;13 &gt; 44 &gt; 33 &gt; 1&quot;) ➞ False

correct_signs(&quot;1 &lt; 2 &lt; 6 &lt; 9 &gt; 3&quot;) ➞ True

In [8]:
def correct_signs(a):
  return eval(a)

In [9]:
correct_signs("3 < 7 < 11")

True

In [10]:
correct_signs("13 > 44 > 33 > 1")

False

In [11]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

**Question3. Create a function that replaces all the vowels in a string with a specified character.**

Examples

replace_vowels(&quot;the aardvark&quot;, &quot;#&quot;) ➞ &quot;th# ##rdv#rk&quot;

replace_vowels(&quot;minnie mouse&quot;, &quot;?&quot;) ➞ &quot;m?nn?? m??s?&quot;

replace_vowels(&quot;shakespeare&quot;, &quot;*&quot;) ➞ &quot;sh*k*sp**r*&quot;

In [19]:
def replace_vowels(k,b):
  k=k.replace("a",b)
  k=k.replace("e",b)
  k=k.replace("i",b)
  k=k.replace("o",b)
  k=k.replace("u",b)
  return k

In [20]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [21]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [22]:
replace_vowels("shakespeare", "")

'shkspr'

**Question4. Write a function that calculates the factorial of a number recursively.**
Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [54]:
def factorial(n):
    if n == 1 or n==0:
       return 1
    else:
       return n*factorial(n-1)

In [55]:
factorial(5)

120

In [56]:
factorial(3)

6

In [57]:
factorial(0)

1

**Question 5**

**Hamming distance is the number of characters that differ between two strings.**

To illustrate:

String1: &quot;abcbba&quot;

String2: &quot;abcbda&quot;

Hamming Distance: 1 - &quot;b&quot; vs. &quot;d&quot; is the only difference.

Create a function that computes the hamming distance between two strings.

Examples

hamming_distance(&quot;abcde&quot;, &quot;bcdef&quot;) ➞ 5

hamming_distance(&quot;abcde&quot;, &quot;abcde&quot;) ➞ 0

hamming_distance(&quot;strong&quot;, &quot;strung&quot;) ➞ 1

In [63]:
def hamming_distance(a,b):
    if len(a) == len(b):
        count = 0
        for i in range(len(a)):
            if a[i] != b[i]:
                count = count+1
        return count
    else:
        print('Both Strings Must be of Same Length')

In [64]:
hamming_distance("abcde", "bcdef")

5

In [65]:
hamming_distance("abcde", "abcde")

0

In [66]:
hamming_distance("strong", "strung")

1