https://drive.google.com/file/d/1Yg8d2Hj-LtWp0JrJOcuPuPZQswOqwe-U/view

Question 1:

Please write a program using generator to print the numbers which can be divisible by 5 and
7 between 0 and n in comma separated form while n is input by console.

Example:

If the following n is given as input to the program:
 
100

Then, the output of the program should be:

0,35,70

In [25]:
n=int(input("enter the number:"))
output = []
def numbers(n):
    for i in range(n+1):
        if i%5==0 and i%7==0:
            yield i
for i in numbers(n):
    output.append(str(i))

print( ",".join(output))

enter the number:100
0,35,70

In [ ]:
10

Please write a program using generator to print the even numbers between 0 and n in comma
separated form while n is input by console.

Example:

If the following n is given as input to the program:

10

Then, the output of the program should be:

0,2,4,6,8,10

In [26]:
n=int(input("enter the number:"))
output = []
def numbers(n):
    for i in range(n+1):
        if i%2==0:
          yield i
for i in numbers(n):
    output.append(str(i))
print( ",".join(output))

enter the number:10
0,2,4,6,8,10

Question 3:

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0

f(n)=1 if n=1

f(n)=f(n-1)+f(n-2) if n&gt;1

Please write a program using list comprehension to print the Fibonacci Sequence in comma
separated form with a given n input by console.

Example:

If the following n is given as input to the program:

7

Then, the output of the program should be:

0,1,1,2,3,5,8,13

In [27]:
def f(n):
    if n == 0: 
      return 0
    elif n == 1: 
      return 1
    else: 
      return f(n-1)+f(n-2)
n=int(input("enter the number:"))
output = [str(f(n)) for n in range(0, n+1)]
print(",".join(output))

enter the number:7
0,1,1,2,3,5,8,13

4. Assuming that we have some email addresses in the &quot;username@companyname.com&quot; format,
please write program to print the user name of a given email address. Both user names and
company names are composed of letters only.

Example:

If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john

In [28]:
k=input()
m=k.split("@")
print(m[0])

john@google.com
john

In [29]:
import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print(r2.group(1))

john@google.com
john

Define a class named Shape and its subclass Square. The Square class has an init function
which takes a length as argument. Both classes have a area function which can print the area
of the shape where Shape&#39;s area is 0 by default.

In [30]:
class Shape():
  def area(self):
    return 0
class Square(Shape):
  def __init__(self, l):# l is length
    self.l = l
  def area(self):
    return self.l**2
Square= Square(10)
print (Square.area())

100